<a href="https://colab.research.google.com/github/Gnampet/data-science-bootcampt7/blob/main/HW_Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



*  Author: Monsicha Tamee


# HW01 - API

In [ ]:
# Import library
import pandas as pd
import requests

In [ ]:
# Load data
url = 'https://corona.lmao.ninja/v2/countries?sort=country'
result = requests.get(url)
data_json = result.json()

In [ ]:
# Create dataframe
df = pd.DataFrame(data_json)
df

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
0,1691985626789,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",265693,0,5712,0,258888,0,1093,...,2525756,164744,15331428,Africa,58,2684,6,71.29,16886.10,0.78
1,1691985626776,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",349287,0,4069,0,341316,0,3902,...,4112961,211244,19470234,Africa,56,4785,5,200.41,17530.14,0.00
2,1691985626903,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",11945,0,2159,0,9124,0,662,...,329592,10579,31154867,Asia,2608,14430,95,21.25,292.86,0.74
3,1691985626939,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",10,0,1,0,9,0,0,...,0,0,626161,Africa,62616,626161,0,0.00,14.37,0.00
4,1691985626928,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",3550,0,8,0,438,0,3104,...,20508,1867419,10982,Australia-Oceania,3,1373,1,282644.33,39883.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,1691985626817,Angola,"{'_id': 24, 'iso2': 'AO', 'iso3': 'AGO', 'lat'...",105384,0,1934,0,103419,0,31,...,1499795,42818,35027343,Africa,332,18111,23,0.89,2952.52,0.00
227,1691985626846,Andorra,"{'_id': 20, 'iso2': 'AD', 'iso3': 'AND', 'lat'...",48015,0,165,0,47563,0,287,...,249838,3225256,77463,Europe,2,469,0,3704.99,614009.27,180.73
228,1691985626786,Algeria,"{'_id': 12, 'iso2': 'DZ', 'iso3': 'DZA', 'lat'...",271852,0,6881,0,183061,0,81910,...,230960,5093,45350148,Africa,167,6591,196,1806.17,4036.61,0.00
229,1691985626780,Albania,"{'_id': 8, 'iso2': 'AL', 'iso3': 'ALB', 'lat':...",334726,0,3602,0,329428,0,1696,...,1941032,677173,2866374,Europe,9,796,1,591.69,114928.48,0.00
230,1691985626794,Afghanistan,"{'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat':...",224625,0,7940,0,204649,0,12036,...,1289400,31638,40754388,Asia,181,5133,32,295.33,5021.52,1.10

In [ ]:
# Convert time-stamp into date
df['updated'] = df['updated']//1000
df['updated'] = pd.to_datetime(df['updated'], unit = 's')
df

,updated,country,countryInfo,cases,todayCases,deaths,todayDeaths,recovered,todayRecovered,active,...,tests,testsPerOneMillion,population,continent,oneCasePerPeople,oneDeathPerPeople,oneTestPerPeople,activePerOneMillion,recoveredPerOneMillion,criticalPerOneMillion
0,2023-08-14 04:00:26,Zimbabwe,"{'_id': 716, 'iso2': 'ZW', 'iso3': 'ZWE', 'lat...",265693,0,5712,0,258888,0,1093,...,2525756,164744,15331428,Africa,58,2684,6,71.29,16886.10,0.78
1,2023-08-14 04:00:26,Zambia,"{'_id': 894, 'iso2': 'ZM', 'iso3': 'ZMB', 'lat...",349287,0,4069,0,341316,0,3902,...,4112961,211244,19470234,Africa,56,4785,5,200.41,17530.14,0.00
2,2023-08-14 04:00:26,Yemen,"{'_id': 887, 'iso2': 'YE', 'iso3': 'YEM', 'lat...",11945,0,2159,0,9124,0,662,...,329592,10579,31154867,Asia,2608,14430,95,21.25,292.86,0.74
3,2023-08-14 04:00:26,Western Sahara,"{'_id': 732, 'iso2': 'EH', 'iso3': 'ESH', 'lat...",10,0,1,0,9,0,0,...,0,0,626161,Africa,62616,626161,0,0.00,14.37,0.00
4,2023-08-14 04:00:26,Wallis and Futuna,"{'_id': 876, 'iso2': 'WF', 'iso3': 'WLF', 'lat...",3550,0,8,0,438,0,3104,...,20508,1867419,10982,Australia-Oceania,3,1373,1,282644.33,39883.45,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,2023-08-14 04:00:26,Angola,"{'_id': 24, 'iso2': 'AO', 'iso3': 'AGO', 'lat'...",105384,0,1934,0,103419,0,31,...,1499795,42818,35027343,Africa,332,18111,23,0.89,2952.52,0.00
227,2023-08-14 04:00:26,Andorra,"{'_id': 20, 'iso2': 'AD', 'iso3': 'AND', 'lat'...",48015,0,165,0,47563,0,287,...,249838,3225256,77463,Europe,2,469,0,3704.99,614009.27,180.73
228,2023-08-14 04:00:26,Algeria,"{'_id': 12, 'iso2': 'DZ', 'iso3': 'DZA', 'lat'...",271852,0,6881,0,183061,0,81910,...,230960,5093,45350148,Africa,167,6591,196,1806.17,4036.61,0.00
229,2023-08-14 04:00:26,Albania,"{'_id': 8, 'iso2': 'AL', 'iso3': 'ALB', 'lat':...",334726,0,3602,0,329428,0,1696,...,1941032,677173,2866374,Europe,9,796,1,591.69,114928.48,0.00
230,2023-08-14 04:00:26,Afghanistan,"{'_id': 4, 'iso2': 'AF', 'iso3': 'AFG', 'lat':...",224625,0,7940,0,204649,0,12036,...,1289400,31638,40754388,Asia,181,5133,32,295.33,5021.52,1.10

Using pandas to_datetime with timestamps:
https://www.geeksforgeeks.org/using-pandas-to_datetime-with-timestamps/

In [ ]:
# Save as csv
df.to_csv("covid19_countries")

In [ ]:
# Check error
df.head()
df.isnull().sum()
df.isna().sum()

## Save in Drive

In [ ]:
# Mount Google Drive
from google.colab import drive
drive.mount('/content/drive')

# Create a folder in the root directory
!mkdir - p "/content/drive/My Drive/My colab"

# Write a file to Google Drive
df.to_csv('/content/drive/My Drive/My colab/covid19_countries.csv', index = False)

# HW02 - Sklearn

In [ ]:
# Import model
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

## MTCARS Data Set

In [ ]:
# Load data set
mtcar = pd.read_csv("https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv")
mtcar.head()

Linear Regression

In [ ]:
# Separate the features (X) and target (y)
X = mtcar[["hp","wt","am"]]
y = mtcar["mpg"]

# Split the dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train LinearRegression model
model = LinearRegression().fit(X_train, y_train)

# Make predictions on the test set
pred = model.predict(X_test)

# Calculate the performance metrics
mse = mean_squared_error(y_test,pred)
mae = mean_absolute_error(y_test,pred)

print(f"Mean Square Error: {round(mse,4)}")
print(f"Mean Absolute Error: {round(mae,4)}")

Mean Square Error: 7.3198
Mean Absolute Error: 2.071

Decision Tree Regressor

In [ ]:
# Decision Tree Regressor model
model_dtr = DecisionTreeRegressor().fit(X_train, y_train)

# Make predictions on the test set
pred_dtr = model_dtr.predict(X_test)

# Calculate the performance metrics
mse_dtr = mean_squared_error(y_test,pred_dtr)
mae_dtr = mean_absolute_error(y_test,pred_dtr)

print(f"Mean Square Error: {round(mse_dtr,4)}")
print(f"Mean Absolute Error: {round(mae_dtr,4)}")

Mean Square Error: 9.61
Mean Absolute Error: 2.4714

Random Forest Regressor

In [ ]:
# Decision Tree Regressor model
model_rfr = RandomForestRegressor().fit(X_train, y_train)

# Make predictions on the test set
pred_rfr = model_rfr.predict(X_test)

# Calculate the performance metrics
mse_rfr = mean_squared_error(y_test,pred_rfr)
mae_rfr = mean_absolute_error(y_test,pred_rfr)

print(f"Mean Square Error: {round(mse_rfr,4)}")
print(f"Mean Absolute Error: {round(mae_rfr,4)}")

Mean Square Error: 8.8943
Mean Absolute Error: 2.0811


SGD Regressor

In [ ]:
# Import library
from sklearn.linear_model import SGDRegressor

# SGD Regressor model
model_sgdr = SGDRegressor().fit(X_train, y_train)

# Make predictions on the test set
pred_sgdr = model_sgdr.predict(X_test)

# Calculate the performance metrics
mse_sgdr = mean_squared_error(y_test,pred_sgdr)
mae_sgdr = mean_absolute_error(y_test,pred_sgdr)

print(f"Mean Square Error: {round(mse_sgdr,4)}")
print(f"Mean Absolute Error: {round(mae_sgdr,4)}")

Mean Square Error: 1.5358747624138742e+27
Mean Absolute Error: 35198177538403.234

Passive Aggressive Classifier

In [ ]:
# Import library
from sklearn.datasets import load_iris
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import classification_report, accuracy_score

# Load data set
df_iris  = load_iris()
X = df_iris.data
y = df_iris.target

# Split the dataset into training and testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model_pac = PassiveAggressiveClassifier().fit(X_train, y_train)

# Make predictions
pred_pac = model_pac.predict(X_test)

# Evaluation
accuracy = accuracy_score(y_test, pred_pac)
score = classification_report(y_test, pred_pac)

print(f"Accuracy: {round(accuracy*100,2)}% \nScore Classification:\n{score}")

Accuracy: 83.33%
Score Classification:
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       1.00      0.44      0.62         9
           2       0.69      1.00      0.81        11

    accuracy                           0.83        30
   macro avg       0.90      0.81      0.81        30
weighted avg       0.89      0.83      0.82        30

### end page

Ref Website: https://scikit-learn.org/stable/modules/classes.html#module-sklearn.linear_model